{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "all",
    "printWidth": 100,
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "quoteProps": "as-needed",
    "insertPragma": false,
    "requirePragma": false,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": false,
    "endOfLine": "auto"
}
